<div class='app-layout'>
  <div class='app-header'>Header</div>
  <div class='app-layout app-layout-has-sider'>
    <div class='app-left-sider'>
      <chaos-editor-widget-shop></chaos-editor-widget-shop>
    </div>
    <div class='app-content'>
      <chaos-editor></chaos-editor>
    </div>
    <div class='app-right-sider'>
      <nz-tabset nzCentered [nzAnimated]='false' [nzSelectedIndex]='1'>
        <nz-tab nzTitle='组件'></nz-tab>
        <nz-tab nzTitle='层'>
          <chaos-editor-layer></chaos-editor-layer>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
