<!--轮廓-->
<div class='scope-outline'>
  <div class='scope-highlight-outline' #highlightOutline></div>
  <div class='scope-enchantment-outline'></div>
</div>
<!--辅助线-->
<div class='scope-guides-wrap' #guidesWrap>
  <div class='scope-guide scope-guide-top' data-guide-location='top'></div>
  <div class='scope-guide scope-guide-bottom' data-guide-location='bottom'></div>
  <div class='scope-guide scope-guide-left' data-guide-location='left'></div>
  <div class='scope-guide scope-guide-right' data-guide-location='right'></div>
  <div class='scope-guide scope-guide-center-horizontal' data-guide-location='hCenter'></div>
  <div class='scope-guide scope-guide-center-vertical' data-guide-location='vCenter'></div>
</div>
<!--参考点-->
<div class='scope-activated-outline' #activatedOutline>
  <!--旋转-->
  <!--变形-->
  <!--8个参考点及其鼠标形式，循环8个-->
  <!--左上，上，右上，右，右下，下，左下，左-->
  <div class='reference-point' nceReferencePoint pointPositionX='left' pointPositionY='top' (nceDrag)='onPointDrag("left","top",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='center' pointPositionY='top'
       (nceDrag)='onPointDrag("center","top",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='right' pointPositionY='top' (nceDrag)='onPointDrag("right","top",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='right' pointPositionY='center'
       (nceDrag)='onPointDrag("right","center",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='right' pointPositionY='bottom'
       (nceDrag)='onPointDrag("right","bottom",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='center' pointPositionY='bottom'
       (nceDrag)='onPointDrag("center","bottom",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='left' pointPositionY='bottom'
       (nceDrag)='onPointDrag("left","bottom",$event)'>
    <div class='reference-point-block'></div>
  </div>
  <div class='reference-point' nceReferencePoint pointPositionX='left' pointPositionY='center'
       (nceDrag)='onPointDrag("left","center",$event)'>
    <div class='reference-point-block'></div>
  </div>
</div>
<!-- 右键事件 -->
<nz-dropdown-menu #widgetContextMenu='nzDropdownMenu'>
  <ul nz-menu>
    <li nz-menu-item>
      <a class='context-menu-content' (click)='setZIndexToTop()'>
        <i nz-icon nzType='up-square' nzTheme='outline'></i>
        置于顶层
      </a>
    </li>
    <li nz-menu-item>
      <a class='context-menu-content' (click)='setZIndexUp()'>
        <i nz-icon nzType='up-square' nzTheme='outline'></i>
        上移一层
      </a>
    </li>
    <li nz-menu-item>
      <a class='context-menu-content' (click)='setZIndexDown()'>
        <i nz-icon nzType='down-square' nzTheme='outline'></i>
        下移一层
      </a>
    </li>
    <li nz-menu-item>
      <a class='context-menu-content' (click)='setZIndexToBottom()'>
        <i nz-icon nzType='down-square' nzTheme='outline'></i>
        置于底层
      </a>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item>
      <a class='context-menu-content'>
        <i nz-icon nzType='delete' nzTheme='outline'></i>
        删除
      </a>
    </li>
  </ul>
</nz-dropdown-menu>

