:host {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  font-size: 12px;
  overflow: hidden;
}

.editor-horizontal-ruler {
  position: absolute;
  left: 16px;
  top: 0;
  width: calc(100% - 16px);
  height: 17px;
  border-bottom: 1px solid #cccccc;
}

.editor-vertical-ruler {
  position: absolute;
  top: 16px;
  left: 0;
  width: 17px;
  height: calc(100% - 16px);
  border-right: 1px solid #cccccc;
}
